<style>
    body {
        background-color: #EDEDED;
    }

    .about-inner {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
    }
</style>

<br>

<div class="container">
    <div class="about-inner">

        <section>
            <h4>HealthyLife - ...</h4>
            <article>
                ... это демонстрационный проект, не являющийся ТМ, созданный в рамках тринадцатого областного
                конкурса компьютерных
                программ по профилактике зависимостей от психоактивных веществ и пропаганде здорового образа жизни среди
                учащихся
                образовательных учреждений Тульской области. С английского "healthy life" переводится как "здоровая
                жизнь".
            </article>
        </section>
        <br>
        <section>
            <h4>На сайта использовались технологии:</h4>
            <article>
                <ul>
                    <li>Клиентская часть написана на чистом HTML/CSS/JS</li>
                    <li>Для упрощения работы был использован шаблонизатор <a
                            href="https://www.npmjs.com/package/express-handlebars" target="_blank">Express
                            Handlebars</a></li>
                    <li>Также был использован CSS/JS фреймворк <a href="https://getbootstrap.com/"
                            target="_blank">Bootstrap</a></li>
                    <li>Серверная часть была написана на <a href="https://nodejs.org/en/" target="_blank">Node JS</a> и
                        его фреймворке <a href="https://expressjs.com/" target="_blank">Express</a></li>
                </ul>
            </article>
        </section>
        <section>
            <h4>При разработке использовались программы:</h4>
            <article>
                <ul>
                    <li>Текстовый редактор - редактор кода <a href="https://code.visualstudio.com/" target="_blank">Visual Studio
                            Code</a></li>
                    <li>Разработка дизайна сайта - приложение <a href="https://www.figma.com/" target="_blank">Figma</a></li>
                    <li>Создание локального сервера - <a href="https://ospanel.io/" target="_blank">Open Server</a></li>
                </ul>
            </article>
        </section>
        <section>
            <h4>В создании проекта принимали участие:</h4>
            <article>
                <ul>
                    <li>Желтов Владислав Александрович - автор проекта</li>
                    <li>Махин Александр Анатольевич - руководитель проекта</li>
                </ul>
            </article>
        </section>
        {{!-- <br>
        <section>
            <h4>Политика сайта</h4>
            <article>
                <ul>
                    <li><a href="/privacy">Политика конфиденциальности</a></li>
                </ul>
            </article>
        </section> --}}

    </div>
</div>