<style>
    header{
        display: none;
    }
    .index-page{
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-index-page{
        width: 60px;
        height: 55px;
        border-radius: 30px;
        align-self: center;
    }
</style>

<div class="container">
    <div class="index-page">
        <a href="/home" class="btn btn-primary btn-index-page" role="button"><img src="/public/icon/play.svg"></a>
    </div>
</div>