<link rel="stylesheet" href="/public/css/form.css">

<div class="container-form">
    <h2>Вход на сайт</h2>

    <form method="POST" class="form">
        <p class="alert alert-danger">Внимание! Данный функционал отсутствует в данной версии: <a href="/updates">1.0d</a></p>
        <p>
            <label class="form-label">Логин:</label>
            <input type="text" name="login" class="form-control form-field">
        </p>
        <p>
            <label class="form-label">Пароль:</label>
            <input type="password" name="pass" class="form-control form-field">
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-form">Войти</button>
        </p>
    </form>
</div>