<link rel="stylesheet" href="/public/css/cards.css">

<div class="container">
    <br>
    <h3 style="text-align: center;">Здоровый Образ Жизни</h3>

    <div class="start-card-list">
        <a href="/card/1" class="card-card-link">
            <div class="card-card-link-pic"><img class="card-card-link-pic-pic" src="/public/pic/cards/vector-health-icon.jpg"></div>
            <div class="card-card-link-text">Основы Здорового Образа Жизни</div>
        </a>
        <a href="/card/2" class="card-card-link">
            <div class="card-card-link-pic"><img class="card-card-link-pic-pic" src="/public/pic/cards/healthy-food-vector.jpg"></div>
            <div class="card-card-link-text">Мы есть то, что мы едим</div>
        </a>
        <a href="/card/3" class="card-card-link">
            <div class="card-card-link-pic"><img class="card-card-link-pic-pic" src="/public/pic/cards/sport-balls-vectors.jpg"></div>
            <div class="card-card-link-text">Движение - жизнь</div>
        </a>
    </div>
</div>