body {
    background: #f0f0f0;
    user-select: none;
}

.btn-margin-top{
    height: 40px;
    width: 100%;
}

.btn-next-card{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* All cards page */

.task-title {
    margin-bottom: 0;
}

.start-card-list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-card-link {
    display: flex;
    flex-direction: column;
    text-align: center;

    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;

    transition-duration: .4s;
}

.card-card-link-text {
    max-width: 190px;
    align-self: center;

    line-height: 22px;
}

.card-card-link:hover {
    color: var(--indigo);

    cursor: pointer;

    transform: translate(2px, -2px)
}

.card-card-link-pic {
    padding: 30px;
    margin: 15px 15px 0 15px;

    position: relative;

    overflow: hidden;

    width: 200px;
    height: 200px;

    font-size: 24px;

    text-align: center;

    border-radius: 20px;
    text-decoration: none;

    transition-duration: .4s;

    border: var(--indigo) 5px solid;
}

.card-card-link-pic-pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Task page */
.card-field {
    background: #fff;

    width: 100%;
    min-height: 400px;

    margin-top: 20px;
    padding: 20px;

    border-radius: 20px;

    position: relative;

    overflow: hidden;
}

#card-black-screen {
    width: 100%;
    height: 100%;

    background: #000;
    opacity: 0.5;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
}

#card-timer {
    position: absolute;
    right: 20px;
    top: 21px;
    font-weight: 500;
}

.card-score {
    font-size: 18px;
    font-weight: 500;
}

#score-amount {
    color: var(--green-dark);
}

.intro-window {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    z-index: 2;
}

.card-intro-title {
    font-weight: 500;
    font-size: 36px;
    color: #fff;
}

.card-intro-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
}

.card-intro-close:hover {
    cursor: pointer;
}

.theory {
    display: none;
    opacity: 0;

    z-index: 4;
}

.card-ex {
    z-index: 4;
}


.white-curtain {
    position: absolute;

    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
    justify-content: center;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: #fff;

    z-index: 10;

    opacity: 0;
}

.white-curtain-text {
    font-size: 24px;
}

.white-curtain-img {
    width: 100px;
    height: 100px;

    background-image: url(/public/icon/check-circle.svg);
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 10px;
}







.task1-frame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.task1-block {
    padding: 30px;
    margin: 10px;

    border-radius: 20px;

    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: var(--green-light) solid 5px;
    color: #333;

    font-size: 22px;
}

.task1-block:hover {
    cursor: pointer;
}

.task1-block-choosen {
    color: #fff;
    background: var(--green-light);
}

.task1,
.task2,
.task3,
.task4,
.task5,
.end-card,
.turn-phone-alert {
    display: none;
}

.answerMessage {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    width: 100%;
}

.task2-sentance {
    position: relative;

    display: flex;
    vertical-align: middle;
    text-align: center;
    flex-wrap: wrap;

    margin: 20px 0;
}

.task2-sentance-text {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;

    font-size: 20px;

    margin: 0 3px;
}

@media(max-width: 410px) {
    .task2-sentance {
        font-size: 15px;
    }
}

.task2-frame {
    display: flex;
    flex-wrap: wrap;

    min-height: 34px;

    background: #f3f3f3;

    padding: 10px;
    border-radius: 10px;

    margin: 20px 0;
}


.task2-block {
    padding: 0 20px;

    position: relative;

    display: flex;
    justify-content: center;

    font-weight: 500;

    border-radius: 30px;

    padding: 5px 10px;
    margin: 3px;

    color: #fff;
    background: #1DBB55;
}

.task2-block:hover {
    cursor: pointer;
}

.task2Target {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;

    min-width: 90px;
    min-height: 25px;
    max-height: 25px;
    margin: 7px 2px 3px 7px;
    border-radius: 30px;
    background: #C2D9E5;
}

.task2Target>.task2-block {
    background: transparent;
    color: #000;
}

/* Task3 */



.task3-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;


}


table {
    width: 100%;
    margin: 15px 0;
    font-size: 18px;
}

tr,
th,
td {
    position: relative;
}

th {
    width: 50%;
    background: #C1E5F7;
}

.task3-target {
    background: #78C7DD;
    width: 100%;
    height: 30px;

    border-radius: 20px;
}

.task3-target>.task3-block {
    background: transparent;
    padding: 0;
    margin: 0 10px;
    font-size: 16px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
}


.task3-allcontent {
    display: flex;
    justify-content: center;

    width: 100%;
}

.task3-blocks {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    border-radius: 20px;

    background: #CCE4F7;

    width: 100%;

    margin-bottom: 20px;
}

.task3-block {
    padding: 10px;
    margin: 5px;
    background: #fff;

    border-radius: 5px;

    font-weight: 600;

    transition-duration: 0.2s;
}

.task3-block:hover {
    transform: scale(1.02);
}


/* Task4 */

.task4-question {
    font-size: 20px;
    margin: 20px 10px;
}

.task4-options {
    display: flex;
    justify-content: center;
}

.form-check {
    font-size: 24px;
    margin: 20px;
}

.task4-prove {
    display: flex;

    margin: 20px;
    justify-content: center;
    text-align: center;
}

.task4-proves {
    font-size: 18px;
    display: none;
}

.task4-sentance {
    position: relative;

    display: flex;
    vertical-align: middle;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

    margin: 20px 0;

    line-height: 3rem;
}

.task4Target {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;

    min-width: 100px;
    min-height: 20px;

    padding: 0 10px;
}

/* TASK 5 */

.task5-inner {
    display: flex;
    justify-content: center;
}

.task5-left,
.task5-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    margin: 10px 40px;
}

.task5-list-item {
    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: nowrap;

    position: relative;
}

.task5-list-item-text {
    margin: 10px;
    color: #fff;

    font-size: 18px;
    font-weight: 700;
}


.task5-left>.task5-list-item {
    background: rgb(187, 0, 16);
}

.task5-right>.task5-list-item {
    background: rgb(0, 134, 187);
}

.triangle-left {
    position: absolute;

    left: calc(100% - 1px);
    top: 0;
    bottom: 0;

    border: 33px solid transparent;

    border-left: 33px solid rgb(187, 0, 16);

    z-index: 3;
}


.task5-right>.task5-list-item>.task5-list-item-text {
    margin-left: 40px;
}

.task5-right>.task5-list-item::after {
    content: '';

    position: absolute;

    left: -1px;
    top: 0;
    bottom: 0;

    border: 33px solid transparent;

    border-left: 33px solid #fff;
}

.task5-block-correct {
    background-color: var(--bs-green) !important;
}

/* END */

.end-card {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-self: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    display: none;
}

.end-card-btn {
    width: 130px;
}