<link rel="stylesheet" href="/public/css/cards.css">
<link rel="stylesheet" href="/public/css/card3.css">

<div class="container container-card">
    <div class="card-field" id="card-window">
        <div id="card-black-screen"></div>
        <div id="card-timer"><span id="timer-min-leftzero">0</span><span id="timer-minute">0</span>:<span
                id="timer-sec-leftzero">0</span><span id="timer-second">0</span></div>
        <div class="card-score">Количество очков: <span id="score-amount">0</span></div>

        <div class="theory">
            <h2 id="theory-title">Основная теория по теме</h2>
            <article id="theory-text"></article>

            <div class="btn-margin-top"></div>
            <button type="button" onclick="startTask()" class="btn btn-primary btn-next-card">Далее</button>
        </div>

        {{!-- CARD-EX start --}}
        <div class="card-ex">


            {{!-- TASK1 start --}}
            <div class="task1">
                <h4 class="task-title">1. Выберите футбольный* инвентарь</h4>
                <small class="text-muted">* вспомните, какие виды футбола бывают в разных странах</small>

                <div class="task1-frame">
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/ball.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/rocketka2.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/ball1.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/rocketka.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/american_football.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/net.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/shaiba.png"></div>
                    <div class="task1-block task1-card3-block" onclick="task1Click(this)"><img
                            src="/public/pic/cards/card3/task1/ball2.png"></div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask1 btn-next-card"
                    onclick="task1Check()">Готово</button>

            </div>
            {{!-- TASK1 end --}}


            {{!-- TASK2 start --}}
            <div class="task2">
                <h4 class="task-title">2. Заполните пропуски, перетаскивая нужные слова</h4>
                <small class="text-muted">В данном задании присутствуют лишние слова, которые не должны быть
                    использованы в тексте.</small>

                <div class="task2-frame" id="task2-frame">
                    <div class="task2-block">спорта</div>
                    <div class="task2-block">организма</div>
                    <div class="task2-block">спортивных</div>
                    <div class="task2-block">жизни</div>
                    <div class="task2-block">активности</div>
                    <div class="task2-block">оздоровление</div>
                </div>

                <div class="task2-sentance">
                    <div class="task2-sentance-text">Физическая </div>
                    <div class="task2-sentance-text">активность - </div>
                    <div class="task2-sentance-text">вид</div>
                    <div class="task2-sentance-text">двигательной</div>
                    <div class="task2Target"></div>
                    <div class="task2-sentance-text">,</div>
                    <div class="task2-sentance-text">направленной</div>
                    <div class="task2-sentance-text">на развитие</div>
                    <div class="task2Target"></div>
                    <div class="task2-sentance-text">навыков и</div>
                    <div class="task2Target"></div>
                    <div class="task2-sentance-text">человеческого</div>
                    <div class="task2Target"></div>
                    <div class="task2-sentance-text">в целом.</div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask2 btn-next-card"
                    onclick="task2Check()">Готово</button>

            </div>
            {{!-- TASK2 end --}}


            {{!-- TASK3 start --}}
            <div class="task3">
                <h4 class="task-title">3. Отгадайте слово</h4>

                <div class="alert alert-warning turn-phone-alert">
                    Пожалуйста, переверните устройство в горизонтальное положение, чтобы избежать проблем с отображением страницы :)
                </div>

                <div class="task3-container">
                    <div class="task3-block-question">Назовите вид спорта, где при помощи ракеток отправлять мяч на сторону соперника так, чтобы тот не смог его отразить.</div>
                    <div class="task3-block-letters">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                        <input type="text" class="task3-block-letters-item" maxlength="1">
                    </div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask3" onclick="task3Check()">Готово</button>
            </div>
            {{!-- TASK3 end --}}


            {{!-- TASK4 start --}}
            <div class="task4">
                <h4 class="task-title">4. Ответьте на вопрос</h4>

                <div class="task4-container">
                    <div class="task4-question">
                        Четвероклассник Миша живёт рядом с парком. Каждое утро, уходя в школу, он видит,
                        что в парке бегает много людей. Однажды Миша заинтересовался и тоже решил
                        бегать по утрам. Он проснулся в 8 часов, оделся и вышел в парк. Он пробежал 
                        5 больших кругов и устал настолько сильно, что даже не пошёл в школу в тот день. 
                        Правильно ли поступил Миша?
                    </div>
                    <div class="task4-options">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" onclick="showProve1()"
                                name="inlineRadioOptions" id="inlineRadio1" value="yes">
                            <label class="form-check-label" for="inlineRadio1">Да</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" onclick="showProve2()"
                                name="inlineRadioOptions" id="inlineRadio2" value="no">
                            <label class="form-check-label" for="inlineRadio2">Нет</label>
                        </div>
                    </div>
                    <div class="task4-proves">
                        <div class="task4-prove1">
                            <div class="task4-sentance">
                                потому что бег по утрам - полезное занятие
                            </div>
                        </div>
                        <div class="task4-prove2">
                            <div class="task4-sentance">
                                потому что 5 кругов - слишком много для новичка. Ему следовало начать с 
                                <div class="task4Target">
                                    <select class="form-control selector">
                                        <option class="option" value=""></option>
                                        <option class="option" value="1">1</option>
                                        <option class="option" value="6">6</option>
                                        <option class="option" value="2">2</option>
                                    </select>
                                </div>
                                круга(ов).
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask4" onclick="task4Check()">Готово</button>
            </div>
            {{!-- TASK4 end --}}


            {{!-- END-CARD start --}}
            <div class="end-card">
                <h5 class="end-card-text">Поздравляем! Вы прошли карточку!</h5>
                <div class="your-result">Ваш результат: <span id="your-res-amount"></span>/400</div>
                <a href="/start" class="btn btn-primary end-card-btn" role="button">Ещё задания</a>
            </div>
            {{!-- END-CARD end --}}


        </div>
        {{!-- CARD-EX end --}}

        <div class='intro-window' id='intro-win'>
            <div class='card-intro-title' id="_title"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"
    integrity="sha512-5x7t0fTAVo9dpfbp3WtE2N6bfipUwk7siViWncdDoSz2KwOqVC1N9fDxEOzk0vTThOua/mglfF8NO7uVDLRC8Q=="
    crossorigin="anonymous"></script>
<script src="/public/js/cards/cardLogic.js"></script>
<script src="/public/js/cards/card3.js"></script>