<link rel="stylesheet" href="/public/css/cards.css">

<div class="container container-card">
    <div class="card-field" id="card-window">
        <div id="card-black-screen"></div>
        <div id="card-timer"><span id="timer-min-leftzero">0</span><span id="timer-minute">0</span>:<span
                id="timer-sec-leftzero">0</span><span id="timer-second">0</span></div>
        <div class="card-score">Количество очков: <span id="score-amount">0</span></div>

        <div class="theory">
            <h2 id="theory-title">Основная теория по теме</h2>
            <article id="theory-text"></article>
            <br>
            <div class="btn-margin-top"></div>
            <button type="button" onclick="startTask()" class="btn btn-primary btn-next-card">Далее</button>
        </div>

        {{!-- Card-ex start --}}
        <div class="card-ex">
            {{!-- Task1 start --}}
            <div class="task1">
                <h4 class="task-title">1. Что из этого негативно влияет на здоровье человека?</h4>

                <div class="task1-frame">
                    <div class="task1-block" onclick="task1Click(this)">Курение</div>
                    <div class="task1-block" onclick="task1Click(this)">Здоровое питание</div>
                    <div class="task1-block" onclick="task1Click(this)">Употребление алкоголя</div>
                    <div class="task1-block" onclick="task1Click(this)">Молочная диета</div>
                    <div class="task1-block" onclick="task1Click(this)">Закалка</div>
                    <div class="task1-block" onclick="task1Click(this)">Занятия физ. активностью</div>
                    <div class="task1-block" onclick="task1Click(this)">Сбитый режим дня</div>
                    <div class="task1-block" onclick="task1Click(this)">Нездоровое питание</div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask1 btn-next-card" onclick="task1Check()">Готово</button>

            </div>
            {{!-- Task1 end --}}

            {{!-- Task2 start --}}
            <div class="task2">
                <h4 class="task-title">2. Заполните пропуски, перетаскивая нужные слова</h4>

                <div class="task2-frame" id="task2-frame">
                    <div class="task2-block" id="task2-block1" draggable="true">профилактику</div>
                    <div class="task2-block" id="task2-block2" draggable="true">жизни</div>
                    <div class="task2-block" id="task2-block3" draggable="true">человека</div>
                    <div class="task2-block" id="task2-block4" draggable="true">укрепление</div>
                    <div class="task2-block" id="task2-block5" draggable="true">образ</div>
                    <div class="task2-block" id="task2-block6" draggable="true">развитие</div>
                </div>

                <div class="task2-sentance">
                    <div class="task2-sentance-text">Здоровый </div>
                    <div class="task2-sentance-text">образ</div>
                    <div class="task2-sentance-text">жизни</div>
                    <div class="task2-sentance-text">(ЗОЖ) - </div>
                    <div class="task2Target" id="task2Field1"></div>
                    <div class="task2Target" id="task2Field2"></div>
                    <div class="task2Target" id="task2Field3"></div>
                    <div class="task2-sentance-text">,</div>
                    <div class="task2-sentance-text">направленный</div>
                    <div class="task2-sentance-text">на</div>
                    <div class="task2Target" id="task2Field4"></div>
                    <div class="task2-sentance-text">здоровья, </div>
                    <div class="task2Target" id="task2Field5"></div>
                    <div class="task2-sentance-text">болезней и </div>
                    <div class="task2Target" id="task2Field6"></div>
                    <div class="task2-sentance-text">человеческого</div>
                    <div class="task2-sentance-text">организма</div>
                    <div class="task2-sentance-text">в целом.</div>
                </div>

                {{!-- <div class="br"></div> --}}
                <div class="btn-margin-top"></div>
                <div class="btn-reply">
                    <button type="button" class="btn btn-primary btnTask2 btn-next-card" onclick="task2Check()">Готово</button>
                </div>

            </div>
            {{!-- Task2 end --}}

            {{!-- Task3 start --}}
            <div class="task3">
                <h4 class="task-title">3. Составьте расписание так, чтобы всё успеть</h4>
                <small class="text-muted">*Перетаскивайте кубики в нужные клетки</small>

                <div class="task3-container">

                    <div class="task3-allcontent">

                        <table class="table table-bordered">
                            <tr>
                                <th>Активность</th>
                                <th>Время</th>
                            </tr>

                            <tr>
                                <td>Выполнение домашних заданий</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>Чтение книги перед сном</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>Прогулка с собакой утром</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>Личное время</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>Спортивная секция</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>Прогулка с друзьями</td>
                                <td>
                                    <div class="task3-target"></div>
                                </td>
                            </tr>

                        </table>
                    </div>

                    <div class="task3-blocks">
                        <div class="task3-block" draggable="true">16:00</div>
                        <div class="task3-block" draggable="true">17:00</div>
                        <div class="task3-block" draggable="true">7:30</div>
                        <div class="task3-block" draggable="true">21:30</div>
                        <div class="task3-block" draggable="true">15:00</div>
                        <div class="task3-block" draggable="true">20:00</div>
                    </div>

                </div>

            <div class="btn-margin-top"></div>
            <button type="button" class="btn btn-primary btnTask3 btn-next-card" onclick="task3Check()">Готово</button>

            </div>
            {{!-- Task3 end --}}

            {{!-- Task4 start --}}
            <div class="task4">
                <h4 class="task-title">4. Ответьте на вопрос</h4>

                <div class="task4-container">
                    <div class="task4-question">
                        Четвероклассник Миша со своим одноклассником Колей составляют меню.
                        Каждый из них решил "укомплектовать" корзину с продуктам.
                        Миша включил в список овощи, фрукты, каши и молочные продукты.
                        Коля в свою очередь решил, что такое меню неправильное, и помимо этого
                        решил добавить чипсы, сухарики, лимонады и конфеты. Как ты думаешь, кто
                        из ребят правильно составил меню и почему?
                    </div>
                    <div class="task4-options">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" onclick="showProves()"
                                name="inlineRadioOptions" id="inlineRadio1" value="misha">
                            <label class="form-check-label" for="inlineRadio1">Миша</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" onclick="showProves()"
                                name="inlineRadioOptions" id="inlineRadio2" value="kolia">
                            <label class="form-check-label" for="inlineRadio2">Коля</label>
                        </div>
                    </div>
                    <div class="task4-proves">
                        <div class="task4-prove">
                            <div class="task4-sentance">
                                потому что
                                <div class="task4Target">
                                    <select class="form-control selector">
                                        <option class="option" value=""></option>
                                        <option class="option" value="овощи">овощи</option>
                                        <option class="option" value="чипсы">чипсы</option>
                                    </select>
                                </div>
                                <div class="task4Target">
                                    <select class="form-control selector">
                                        <option class="option"></option>
                                        <option class="option">сухарики</option>
                                        <option class="option">фрукты</option>
                                    </select>
                                </div>
                                <div class="task4Target">
                                    <select class="form-control selector">
                                        <option class="option"></option>
                                        <option class="option">лимонад</option>
                                        <option class="option">каши</option>
                                    </select>
                                </div> и
                                <div class="task4Target">
                                    <select class="form-control selector">
                                        <option class="option"></option>
                                        <option class="option">конфеты</option>
                                        <option class="option">молочные продукты</option>
                                    </select>
                                </div>
                                - продукты, вредные для организма человека.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask4 btn-next-card" onclick="task4Check()">Готово</button>
            </div>
            {{!-- Task4 end --}}

            {{!-- Task5 start --}}
            <div class="task5">
                <h4 class="task-title">5. Перемещайте пункты левого списка, чтобы получились верные словосочетания</h4>


                {{!-- Put this somewhere else --}}
                <script>
                    function correctWidth(){
                        if(window.innerWidth < 510){
                            $('.turn-phone-alert').css('display', 'block');
                            $('.task5-inner').css('display', 'none');
                            $('.btnTask5').css('display', 'none');
                        }
                        else{
                            $('.turn-phone-alert').css('display', 'none');
                            $('.task5-inner').css('display', 'flex');
                            $('.btnTask5').css('display', 'block');
                        }
                    }
                    window.onload = correctWidth;
                    window.onresize = correctWidth;
                </script>


                <div class="alert alert-warning turn-phone-alert">
                    Пожалуйста, переверните устройство в горизонтальное положение, чтобы избежать проблем с отображением страницы :)
                </div>
            
                <div class="task5-inner">
                    <div class="task5-left">
                        <div class="task5-list-item drag">
                            <div class="task5-list-item-text drag-text">Правильное</div>
                            <div class="triangle-left"></div>
                        </div>
                        <div class="task5-list-item drag">
                            <div class="task5-list-item-text drag-text">Силовые</div>
                            <div class="triangle-left"></div>
                        </div>
                        <div class="task5-list-item drag">
                            <div class="task5-list-item-text drag-text">Активный</div>
                            <div class="triangle-left"></div>
                        </div>
                        <div class="task5-list-item drag">
                            <div class="task5-list-item-text drag-text">Занятие</div>
                            <div class="triangle-left"></div>
                        </div>
                        <div class="task5-list-item drag">
                            <div class="task5-list-item-text drag-text">Диета</div>
                            <div class="triangle-left"></div>
                        </div>
                    </div>

                    <div class="task5-right">
                        <div class="task5-list-item">
                            <div class="task5-list-item-text">спортом</div>
                        </div>
                        <div class="task5-list-item">
                            <div class="task5-list-item-text">тренировки</div>
                        </div>
                        <div class="task5-list-item">
                            <div class="task5-list-item-text">питание</div>
                        </div>
                        <div class="task5-list-item">
                            <div class="task5-list-item-text">для похудения</div>
                        </div>
                        <div class="task5-list-item">
                            <div class="task5-list-item-text">образ жизни</div>
                        </div>
                    </div>
                </div>

                <div class="btn-margin-top"></div>
                <button type="button" class="btn btn-primary btnTask5 btn-next-card" onclick="task5Check()">Готово</button>
            </div>
            {{!-- Task5 end --}}

            {{!-- Card-ex start --}}
            <div class="end-card">
                <h5 class="end-card-text">Поздравляем! Вы прошли карточку!</h5>
                <a href="/start" class="btn btn-primary end-card-btn" role="button">Ещё задания</a>
            </div>
            {{!-- Card-ex end --}}
        </div>

        <div class='intro-window' id='intro-win'>
            <div class='card-intro-title' id="_title"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.13.0/Sortable.min.js"
        integrity="sha512-5x7t0fTAVo9dpfbp3WtE2N6bfipUwk7siViWncdDoSz2KwOqVC1N9fDxEOzk0vTThOua/mglfF8NO7uVDLRC8Q=="
        crossorigin="anonymous"></script>
    <script src="/public/js/cards/cardLogic.js"></script>
    <script src="/public/js/cards/card1.js"></script>